Source: blur-effect
Section: graphics
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 11),
 cmake,
 libglm-dev,
 libglfw3-dev,
 libglew-dev,
 libgbm-dev,
 libegl1-mesa-dev,
 libgles2-mesa-dev,
 libgdk-pixbuf2.0-dev,
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/linuxdeepin/blur-effect
Vcs-Browser: https://github.com/linuxdeepin/blur-effect
Vcs-Git: https://github.com/linuxdeepin/blur-effect.git

Package: blur-effect
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Offscreen Image Blurring utility
 Blur-effect is based on efficient Gaussian blur with linear sampling.
 .
 This package is part of DDE (Deepin Desktop Environment).
